/* este es para darle el fondo detras del formulario */
body{
 margin: 0;
 background-image: url("imagenesdm/imagen\ fondo\ login.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 height: 100vh;   
}
/* Este es para las medidas de cuadro blanco o contenedor y tiene un display para su divicion */
.contenedor{
    width:900px;
    height:500px;
    background:white;
    margin:70px auto;
    border-radius:20px;
    display: flex
}
/* Aqui se le da las medidas de izquierda y derecha */
.izquierda{
     width: 50%;
     display:flex;
    justify-content:center;
    align-items:center;
    background: #dfe8ff;
     padding: 20px;
}

img{
     max-width:80%;
    height:auto;
}
.derecha{
    width:50%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 form{
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input{
    width:300px;
    height:40px;
    padding:10px;
    box-sizing:border-box;
    
}

button{
    width:300px;
    height:40px;
    background:blue;
    color:white;
    border:none;
    border-radius:5px;
}
