*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#fff;
}

/* Barra superior */

.top-bar{
    background:#ec241a;
    color:white;
    display:flex;
    justify-content:space-around;
    padding:10px;
    font-size:14px;
}

/* Menú */

.navbar{
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 60px;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.logo{
    font-size:22px;
    font-weight:bold;
    color:#0c619a;
}

.menu{
    display:flex;
    list-style:none;
    gap:25px;
}

.menu a{
    text-decoration:none;
    color:#333;
    font-weight:600;
}

.menu a:hover{
    color:#12b0f3;
}

.btn-nav{
    background:#f00b2a;
    color:white;
    text-decoration:none;
    padding:12px 20px;
    border-radius:30px;
    font-weight:bold;
}

/* SECCIÓN NOSOTROS */

.nosotros{
    width:90%;
    max-width:1200px;
    margin:auto;
    padding:70px 0;
}

.fila{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
    margin-bottom:90px;
}

.texto{
    flex:1;
}

.texto h2{
    font-size:40px;
    margin-bottom:25px;
    color:#22314d;
}

.texto p{
    font-size:18px;
    color:#555;
    line-height:1.8;
    text-align:justify;
}

.imagen{
    flex:1;
}

.imagen img{
    width:100%;
    border-radius:40px;
    display:block;
}